{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "clojure/tools"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "potatolabs/git-redate"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "exercism"
brew "fd"
brew "gh"
brew "git"
brew "git-extras"
brew "htop"
brew "jq"
brew "leiningen"
brew "mas"
brew "nvm"
brew "openconnect@8.10"
brew "starship"
brew "stress"
brew "the_silver_searcher"
brew "tree"
brew "watch"
brew "clojure/tools/clojure"
brew "potatolabs/git-redate/git-redate"
cask "android-file-transfer"
cask "appcleaner"
cask "bitwarden"
cask "clipy"
cask "commander-one"
cask "docker"
cask "dockstation"
cask "gitup"
cask "google-chrome"
cask "honer"
cask "iterm2"
cask "itsycal"
cask "jetbrains-toolbox"
cask "jiggler"
cask "microsoft-auto-update"
cask "microsoft-teams"
cask "miro"
cask "mockoon"
cask "muzzle"
cask "notion"
cask "obsidian"
cask "pop"
cask "postman"
cask "securid"
cask "sequel-ace"
cask "signal"
cask "slack"
cask "spectacle"
cask "spotify"
cask "stats"
cask "typora"
cask "visual-studio-code"
cask "vlc"
cask "warp"
cask "zoom"
EOF
{{ end -}}