{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# 'brew tap'
tap "clojure-lsp/brew"
tap "clojure/tools"
tap "homebrew/bundle"
# tap "homebrew/cask" # Tapping homebrew/cask is no longer typically necessary.
tap "homebrew/cask-versions"
# tap "homebrew/core" # Tapping homebrew/core is no longer typically necessary.
tap "potatolabs/git-redate"
# 'brew install'
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "exercism"
brew "fd"
brew "gh"
brew "git"
brew "git-extras"
brew "htop"
brew "jq"
brew "leiningen"
brew "mas"
brew "nvm"
brew "openconnect@8.10"
brew "starship"
brew "stress"
brew "the_silver_searcher"
brew "tree"
brew "watch"
brew "clojure-lsp/brew/clojure-lsp-native"
brew "clojure/tools/clojure"
brew "potatolabs/git-redate/git-redate"
# 'brew install --cask'
cask "android-file-transfer"
cask "appcleaner"
cask "bitwarden"
cask "cheatsheet"
cask "clipy"
cask "commander-one"
cask "coteditor"
cask "docker"
cask "dockstation"
cask "emacs"
cask "gitup"
cask "google-chrome"
cask "honer"
cask "iterm2"
cask "itsycal"
cask "jetbrains-toolbox"
cask "jiggler"
cask "microsoft-auto-update"
cask "microsoft-teams"
cask "miro"
cask "mockoon"
cask "muzzle"
cask "notion"
cask "obsidian"
cask "pop"
cask "postman"
cask "rectangle"
cask "securid"
cask "sequel-ace"
cask "signal"
cask "slack"
cask "spotify"
cask "stats"
cask "typora"
cask "visual-studio-code"
cask "vlc"
cask "warp"
cask "zoom"
# 'vscode --install-extension'
vscode "adpyke.codesnap"
vscode "betterthantomorrow.calva"
vscode "betterthantomorrow.calva-spritz"
vscode "christian-kohler.path-intellisense"
vscode "codeium.codeium"
vscode "csantiago132.intellij-ish-darcula-theme"
vscode "dbaeumer.vscode-eslint"
vscode "dlahmad.dracula-for-rust-theme"
vscode "eamodio.gitlens"
vscode "hiukky.flate"
vscode "k--kato.intellij-idea-keybindings"
vscode "misophistful.borealis-theme"
vscode "oderwat.indent-rainbow"
vscode "pkief.material-icon-theme"
vscode "ritwickdey.liveserver"
vscode "rust-lang.rust-analyzer"
vscode "rvest.vs-code-prettier-eslint"
vscode "tamasfe.even-better-toml"
EOF
{{ end -}}